<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>754685365477-g0bge1rmpelrmv958jbtt2pno62ljjrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754685365477-g0bge1rmpelrmv958jbtt2pno62ljjrg</string>
	<key>API_KEY</key>
	<string>AIzaSyBnQabM7zAoOvdEYVh_OAiiS7LL1csRmWM</string>
	<key>GCM_SENDER_ID</key>
	<string>754685365477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Pear.Uniscore</string>
	<key>PROJECT_ID</key>
	<string>uniscore-6984f</string>
	<key>STORAGE_BUCKET</key>
	<string>uniscore-6984f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754685365477:ios:f66590fcf1538a6e</string>
	<key>DATABASE_URL</key>
	<string>https://uniscore-6984f.firebaseio.com</string>
</dict>
</plist>